markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.16.1
python-dateutil==2.8.2
PyYAML==6.0.1
rich==13.6.0
six==1.16.0
-e git+ssh://git@github.com/fdavies93/zenkat.git@6fb3ae4651753ecb005d1b4f363e97be0b3085d1#egg=zenkat
